.estilo-1 {
    
    color: blue
}

.estilo-2 {
    color: gray;
}

.background-blue {
    background-color: rgb(221, 221, 255);
}

header {
    text-align: center;
  }

footer  {
    text-align: right;
  }